
body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-image: url('f689a0b9-d801-417b-a951-4ad7f2ab5796.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    text-align: center;
    z-index: 1;
    color: white;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 5em;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

p {
    font-size: 1.8em;
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

button {
    margin: 20px;
    padding: 25px 50px;
    font-size: 1.8em;
    background-color: rgba(0, 123, 255, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: rgba(0, 56, 139, 0.9);
    transform: translateY(-4px);
}

button:active {
    transform: translateY(2px);
}

.line {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 3px;
    height: 200px;
    animation: moveLine 6s infinite linear;
    transform-origin: center;
    transform: rotate(45deg);
}

@keyframes moveLine {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    25% {
        transform: translate(30%, -60%) rotate(-45deg);
    }
    50% {
        transform: translate(60%, 10%) rotate(90deg);
    }
    75% {
        transform: translate(-40%, 70%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
